*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 padding: 20px;
}
#customer{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 40%;
}
#customer th, td{
padding-top:12px ;
padding-bottom: 12px;
text-align: left;

}
.table-flex{
    display: flex;
    justify-content: space-between;
   
}
#customer th{
    background-color: rgb(56, 56, 158);
}
#customer1{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 500%;
}
#customer1 th, td{
    padding-top:12px ;
    padding-bottom: 12px;
    text-align: left;
}